@import url('./main-layout.css');

list-view contact-form {
    width:25em;
}

room-index contact-form {
    width:25em;
}

transaction-view vaadin-text-field::part(input-field),transaction-view vaadin-password-field::part(input-field) {
    background: rgb(255, 255, 169);
    border: 1px solid gray;
  }

transaction-view vaadin-date-picker::part(input-field) {
    background: rgb(255, 255, 169);
    border: 1px solid gray;
    width:25rem;
}
transaction-view vaadin-time-picker::part(input-field) {
    background: rgb(255, 255, 169);
    border: 1px solid gray;
    width:15rem;
}
transaction-view vaadin-text-field,vaadin-select,transaction-view vaadin-radio-group,transaction-view vaadin-password-field {
    width: 60rem;
    margin-left: 20px;
}

transaction-view vaadin-date-picker, vaadin-date-time-picker label {
    width: 5px;
    margin-left: 20px;
}

transaction-view vaadin-time-picker {
    width: 5px;
    margin-left: -45rem;
}

transaction-view vaadin-text-field.bordered::part(input-field) {
    background: green;
    border: 1px solid gray;
  }

[hidden] {
    display: none;
}

@media (max-width:700px) {
    list-view.editing .toolbar, list-view.editing .grid {
        display: none;
    }

    list-view.editing contact-form {
        width:90%;
    }
}